.terminal {
  height: 100%;
  width: 100%;
  color: #ffffff;
  /* White */
  font-weight: 500;
}

.terminal::-webkit-scrollbar {
  width: 0 !important;
}

.terminal {
  overflow: -moz-scrollbars-none;
}

.terminal {
  -ms-overflow-style: none;
}